*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
body{
    background: #fff;
}
.wipper{
    width: 1286px;
    margin: 0 auto;
}
.sn-login-info{
    float: left;
    height: 32px;
    width: 300px;
}
.sep{
    width: 0.5px;
    height: 16px;
    border: 0.1px solid #ccc;
    float: left;
    margin-top: 9px; 
}
.site-nav{
    background: #f2f2f2;
    height: 32px;
}
.login-info-item{
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
}
.sn-login-a{
    color: #999;
    font-size: 12px;
}
.sn-login-a:hover{
    color: #FF0036;
}
.sn-quick-menu{
    float: right;
    height: 32px;
    width: 560px;
}
.quick-menu-item{
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 70px;
}
.sn-quick-a{
    color: #999;
    font-size: 12px;
}
.iconfont{
    color: #FF0036;
    font-size: 12px;
}
.sn-quick-a:hover{
    color: #FF0036;
}
.sn-menu{
    display: inline-block;
    /* 为什么 block不行*/
    width: 100%;
    height: 100%;
}
.sn-menu:hover{
    background: #fff;
    text-decoration: underline;
}
.menu-bd{
    border: 1px solid #eee;
    border-top: 0;
    padding: 8px 1px;
    /* display: none; */
    width: 90px;
}
.quick-menu-item:hover .menu-bd{
    display: block;
}
.menu-bd-panel{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    /* margin: 5px 5px; */
    /* 为什么内边距不行 */
}
.menu-bd-panel a{
    color: #666
}
.menu-bd-panel a:hover{
    color: #FF0036;
    text-decoration: underline;
}
#business-support{
    width: 140px;
    height: 170px;
    display: none;
    /* 二级菜单 */
}
#business-support-li{
    width: 140px;
}
#business-support-li h4{
    float: left;
    margin-left: 10px;
}
.business-support-message{
    float: left;
    margin-bottom: 5px;
}
.support-message-a{
    margin: 2px 10px;
    float: left;
    height: 20px;
    line-height: 20px;
}
.business-support-help{
    /* float: left; */
    /* margin: 0 auto; */
    clear: both;
    /* display: block; */
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    height: 50px;
    width: 140px;
}
.business-support-help h4{
    /* float: left; */
    margin-left: 6px;
    display: inline-block;
}
.support-help-a1{
    margin: 2px 12px 2px 0;
    /* text-align: none; */
}
#web-navigation{
    position: absolute;
    right: 0;
    border: 1px solid #000;
    width: 1198px;
    height: 110px;
    padding: 25px 0;
}
#navigation{
    position: relative;
}
.web-navigation-item{
    float: left;
    padding-left: 30px;
}
