*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
body{
    background: #fff;
}
.wipper{
    width: 1286px;
    margin: 0 auto;
}
.sep{
    border-left: 1px solid #FF0036;
    float: left;
}
.site-nav{
    background: #f2f2f2;
    height: 32px;
}
.login-info-item{
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
}
.sn-login-a{
    color: #999;
    font-size: 12px;
}
.sn-login-a:hover{
    color: #FF0036;
}
.sn-quick-menu{
    float: right;
    height: 32px;
    width: 560px;
}
.quick-menu-item{
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    /* margin: 0; */
    /* margin-left: 20px; */
    width: 70px;
}
.sn-quick-a{
    color: #999;
    font-size: 12px;
}
.iconfont{
    color: #FF0036;
    font-size: 12px;
}
.sn-quick-a:hover{
    color: #FF0036;
}
.menu-bd{
    border: 1px solid #eee;
    border-top: 0;
    padding: 8px 10px;
    display: none;
    width: 90px;
    clear: both;
}
.quick-menu-item:hover .menu-bd{
    display: block;
}
.menu-bd-panel{
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}
.menu-bd-panel a{
    color: #666
}
.menu-bd-panel a:hover{
    color: #FF0036;
    text-decoration: underline;
}

